<div class="container" *ngIf="dev && !modalInstance">
    <mat-card *ngFor="let project of dev.projects; let i = index" class="card {{ i }}">
        <div class="card__img" [style.background]="'url(' + project.picture + ')'"></div>
        <mat-card-content class="card__body">
            <mat-card-title class="card__title"
                >{{ project.title }} <mat-icon class="{{ project.icon }}"></mat-icon
            ></mat-card-title>
            <p>{{ project.description }}</p>
        </mat-card-content>
        <mat-card-actions class="card__actions">
            <a mat-button *ngIf="project.access" target="_blank" href="{{ project.access }}">
                <mat-icon class="{{ project.access_icon }}"></mat-icon> Jouer
            </a>
            <button mat-button *ngIf="project.demo" (click)="openVideo(project.demo)">
                <mat-icon class="fa-solid fa-eye"></mat-icon> Voir plus
            </button>
            <a mat-button target="_blank" href="{{ project.github }}"
                ><mat-icon class="fab fa-git-square"></mat-icon> GitHub</a
            >
        </mat-card-actions>
    </mat-card>
</div>
