@import "../styles.scss";

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 5%;

    &__home-button {
        @include button;
    }
    &__container {
        &a {
            @include button;
        }
    }
}
:host {
    display: block;
    height: 95%;
    overflow: hidden;
}
