<mat-toolbar color="primary" class="head">
    <a
        mat-button
        color="accent"
        matTooltip="Link"
        routerLink="/"
        aria-label="Link to home page"
        class="head__home-button">
        <mat-icon>home</mat-icon></a
    >
    <div class="head__container">
        <a mat-button color="accent" matTooltip="Link" routerLink="/book" aria-label="Link to book"> BOOK</a>
        <a mat-button color="accent" matTooltip="Link" routerLink="/cv" aria-label="Link to my cv">CV</a>
        <a mat-button color="accent" matTooltip="Link" routerLink="/contact" aria-label="Link to my cv"> CONTACT</a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
