<mat-toolbar color="primary" class="head">
    <a
        mat-button
        color="accent"
        matTooltip="Link"
        routerLink="/"
        aria-label="Link to home page"
        class="head__home-button">
        <mat-icon>home</mat-icon></a
    >
    <div class="head__container">
        <a mat-button color="accent" matTooltip="Link" routerLink="/portfolio" aria-label="Link to portfolio">
            PORTFOLIO</a
        >
        <a mat-button color="accent" matTooltip="Link" routerLink="/cv" aria-label="Link to my cv"> MON CV</a>
        <a mat-button color="accent" matTooltip="Link" routerLink="/contact" aria-label="Link to my cv">
            ME CONTACTER</a
        >
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
