<div class="cv" *ngIf="dev">
    <div class="cv__left">
        <img src="../../assets/img/photo.jpg" alt="ID Picture" />
        <div class="cv__left--address">
            <mat-icon class="fas fa-home"></mat-icon> {{ dev.address.zipCode }} {{ dev.address.city.toUpperCase() }}
            {{ dev.address.country.toUpperCase() }}
        </div>
        <app-links
            [portfolio]="dev.portfolio"
            [mail]="dev.mail"
            [phone]="dev.phone"
            [linkedin]="dev.linkedin"
            [github]="dev.github"
            class="cv__left--contact"></app-links>
        <mat-chip-list class="cv__left--interests">
            <mat-chip *ngFor="let interest of dev.interests; let i = index" class="interest{{ i }}">
                <mat-icon matChipAvatar class="{{ interest.icon }}"></mat-icon> {{ interest.title }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div class="cv__center">
        <div class="cv__center--head">
            <div class="cv__center--head--title bordered">
                <h1 class="terminal">{{ dev.lastname }} {{ dev.firstname }}</h1>
                <h2 class="terminal">{{ dev.job }}</h2>
            </div>
            <div class="cv__center--head--resume bordered">
                <app-resume [traits]="dev.traits"></app-resume>
            </div>
            <div class="cv__center--head--soft bordered">
                <app-soft-skills [softSkills]="dev.softSkills"></app-soft-skills>
            </div>
        </div>
        <div class="cv__center--body">
            <div class="cv__center--body--main">
                <div class="xp">
                    <app-experiences [xp]="dev.xp"></app-experiences>
                </div>
                <div class="studies">
                    <app-studies [studies]="dev.studies"></app-studies>
                </div>
            </div>
            <div class="cv__center--body--references bordered">
                <app-references [references]="dev.references"></app-references>
            </div>
        </div>
    </div>

    <div class="cv__right">
        <div class="cv__right--skills">
            <app-skill [technos]="dev.technos" [languages]="dev.languages" class="technos"></app-skill>
        </div>
    </div>
</div>
