@import "~@angular/material/theming";

@include mat-core();

$theme-blue: (
    50: #1e6cdd,
    100: #1a60c7,
    200: #1b58b1,
    300: #144894,
    400: #154387,
    500: #0e356e,
    600: #0d3063,
    700: #0b2a56,
    800: #001250,
    900: #000000,
    A100: #6fa6f5,
    A200: #5f92dc,
    A400: #557bb3,
    A700: #416dae,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$theme-primary: mat-palette($theme-blue, 800);
$theme-accent: mat-palette($mat-indigo, 100);
$theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
